.projectContainer {
    width: 380px;
    height: 340px;
    border-radius: 8%;
    background-color: rgba(245, 245, 245, 0);
    color: white;
}

.img {
    width: 360px;
    height: 250px;
    object-fit: fill;
    border-radius: 2%;
    margin: auto;
    background-color: black;
}

.description {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    display: none;
}

.projectContainer:hover {
    margin: auto;
    cursor: pointer;
    .description {
        display: flex;
    }

    .img {
        scale: 1.05;
        transition-duration: .5s;

        opacity: .4
    }

    .summary {
        display: block
    }
}

.imgContainer {
    position: relative;

}

.summary {
    position: absolute;
    top: 50px;
    left: 16px;
    width: 300px;
    font-weight: bold;
    text-align: center;
    display: none;
}