.projectContainer {
    width: 380px;
    height: 340px;
    border-radius: 8%;
    background-color: rgba(245, 245, 245, 0);
    color: white;
}

.img {
    width: 360px;
    height: 250px;
    object-fit: fill;
    border-radius: 2%;
}

.description {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    display: none;
}

.projectContainer:hover {
    transition: ease-in-out;
    margin: auto;
    .description {
        display: flex;
    }

    .img {
        transform: scale(1.05);
    }

}