.projectContainer {
    width: 380px;
    height: 340px;
    border: 2px solid white;
    background-color: rgba(245, 245, 245, 0);
    color: white;
    text-align: center;
}

.img {
    width: 360px;
    height: 250px;
    text-align: center;
    border-radius: 2%;
    margin: auto;
    background-color: black;
}

.description {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    display: none;
}

.projectContainer:hover {
    margin: auto;
    cursor: pointer;
    .description {
        display: flex;
    }

    .img {
        scale: 1.05;
        transition-duration: .5s;
        opacity: .4
    }

    .summary {
        display: block
    }
}

.imgContainer {
    position: relative;
}

.summary {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 300px;
    font-weight: bold;
    text-align: center;
    display: none;
}

//NewDesign

img {
    width: 300px;
    height: 250px;
    border-radius: 5px;
}

img:hover {
    scale: 1.04;
}

.imageAndTextContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white
}

.textContainer {
    width: 330px;
    margin-top: 80px;
    margin-right: 60px
}
