
.container {
    width: 100%;
    height: 110vh;
    background: linear-gradient(#426ac7da, rgb(255, 255, 255));
}

.textContainer {
    width: 800px;
    height: 400px;
    margin-top: 60px;
    background-color: rgba(245, 245, 245, 0.413);
}

.tab {
    margin-left: 20px
}