.imgContainer {
    width: 100%;
    height: 100vh;
    z-index: 0
}

.img {
    object-fit: fill;
    width: 100%;
    height: 100vh;
}

.myContainer {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(36, 82, 162, 0.548) 75%, rgb(63, 62, 62));
    overflow: hidden;
}

.myTextContainer {
    margin: auto;
    margin-top: 140px;
    text-align: center
}

.myName {
    font-size: 60px;
    color: white
}

.myTitle {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 0;
}
.myIntro {
    font-size: 32px;
    color: whitesmoke;
    line-height: 40px;
    margin-top: 5px;
}