body {
    width: 100%;
    overflow-x: hidden;
}

.imgContainer {
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.myContainer {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(36, 82, 162, 0.548) 75%, rgb(63, 62, 62));
    overflow: hidden;
}

.myTextContainer {
    margin: auto;
    margin-top: 140px;
    text-align: center;
}

.myTitle {
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.myIntro {
    font-size: 1.6rem;
    color: whitesmoke;
    line-height: 40px;
    margin-top: 5px;
}

